<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @client.company_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @client.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Representative name:</b>
  <%= @client.representative_name %>
</p>

<p>
  <b>Comments:</b>
  <%= @client.comments %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
