<h1>Список заказов</h1>
<% if @client %>
  <%= link_to 'Текущие', client_orders_path(@client) %> |
  <%= link_to 'Все', client_orders_all_path(@client) %>
<% else %>
  <%= link_to 'Текущие', orders_path %> |
  <%= link_to 'Все', orders_all_path %>
<% end %>

<table>
  <tr>
    <th>Код</th>
    <th>Клиент</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.public_id %></td>
    <td><%= link_to order.client.company_name, client_path(order.client)%></td>
    <td><%= link_to 'Показать', order %></td>
    <td><%= link_to 'Редактировать', edit_order_path(order) %></td>
    <td><%= link_to 'Удалить', order, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
