<p id="notice"><%= notice %></p>

<p>
  <b>Код заказа:</b>
  <%= @order.public_id %>
</p>

<p>
  <b>Клиент:</b>
  <%= link_to @order.client.company_name, client_path(@order.client) %>
</p>

<p>
  <b>Описание прибора:</b>
  <%= @order.device_description %>
</p>

<p>
  <b>Количество предоставленных приборов:</b>
  <%= @order.device_count %>
</p>

<p>
  <b>Комментарии:</b>
  <%= @order.comments %>
</p>

<p>
  <b>Описание задания:</b>
  <%= @order.task_description %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |